/*tools start*/

.center{
    text-align: center;
}

.left{
    text-align: left;
}
.right{
    text-align: right;
}

.visible-desktop{

}
@media ( max-width: 768px) {
    .visible-desktop{
        display: none;
    }
}



.phone-fit{

}

@media (max-width: 970px) {
    .phone-fit{
        width: 100% !important;
        float: left;
    }
}

/*tools end */

/*cover bootstrap start*/

.col-xs-2dot5,
.col-sm-2dot5,
.col-md-2dot5,
.col-lg-2dot5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media ( min-width: 768px) {
    .col-sm-2dot5 {
        width: 20%;
        float: left;
    }
}

@media ( min-width: 992px) {
    .col-md-2dot5 {
        width: 20%;
        float: left;
    }
}

@media ( min-width: 1200px) {
    .col-lg-2dot5 {
        width: 20%;
        float: left;
    }
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}


/*cover bootstrap end */

/* component start*/
body {
    text-align: center;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.btn-lg {
    padding: 16px 30px;
    font-size: 19px;
    line-height: 1.3333333;
}

.btn-primary {
    font-size: 15px;
    line-height: 19px;
    padding: 9px 18px;
    color: #fff;
    border-color: #ff4338;
    border-radius: 0;
    background: #ff4338;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
    margin-bottom: 50px;
}

.btn-block {
    width: 120px;
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    border-radius: 0;
    margin: 0 20px 0 20px;
}

.btn-line {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
}

.section-title {
    font-size: 50px;
    font-weight: 300;
}

.section-subtitle {
    font-size: 23px;
}


/* component end*/

/*main page*/

.header-section {
    background: url(../img/homepage-hero2.jpg) no-repeat 40% 30%;
    background-size: cover;
    font-weight: bold;
}

.header-section .italki-navbar .navbar-header{
    padding-bottom:15px;
}
.header-section .italki-navbar .navbar-toggle{
    padding-bottom:15px;
}
.header-section .italki-navbar {
    z-index: 1;
    position: absolute;
    width: 100%;
    background: #FF4338;
    box-shadow: none;
    border: medium none;
}


.header-section .logo-content .logo {
    position: relative;
    top:-18px;
    float: left;
    display: block;
    background: url(../img/landing-logo.svg) 20px 20px no-repeat;
    width: 140px;
    height: 65px;
    background-position: center;
}

.header-section .login-content {
    float: right;
    line-height: 65px;
    font-weight: bold;
}

.header-section .login-content .select-btn,
.header-section .login-content .select-btn:hover,
.header-section .login-content .select-btn:active {
    color: white;
    font-weight: bold;
    background-color: #FF4338;
    text-decoration: none;
}

.header-section .login-content .btn-login {
    margin-top: 16px;
    margin: 0 5px 0 20px;
}

.header-section .intro-container .intro-content {
    width: 560px;
    padding: 30px 80px;
    background: rgba(0, 0, 0, .7);
    margin-top: 160px;
    margin-bottom: 80px;
    color: #fff;
}

@media (max-width: 750px) {
    .header-section .intro-container .intro-content {
        background: rgba(0, 0, 0, .3);
    }
}


.header-section .intro-content .intro-title {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.header-section .intro-content .intro-subtitle {
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    opacity: .9;
}

.header-section .vedio-content .vedio-logo {
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.header-section .vedio-content .vedio-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    margin-left: 10px;
}

.join-community-section {
    font-size: 20px;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0 20px 0;
}

.join-community-section .join-btn {
    float: right;
}

.teacher-section .teacher-title {
    padding: 50px 0 50px 0;
    font-size: 50px;
    font-weight: lighter;
    color: #333;
}

.teacher-section .teacher-title span {
    color: red;
}

.teacher-section .avatar-content {
    position: relative;
    height: 200px;
}

.teacher-section .row-one .col-md-4,
.teacher-section .row-one .col-sm-4,
.teacher-section .row-one .col-xs-4 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 20px;
}

@media (max-width: 750px) {
    .teacher-section .row-one .col-md-4,
    .teacher-section .row-one .col-sm-4,
    .teacher-section .row-one .col-xs-4 {
        padding-bottom: 4px;
    }
}

.teacher-section .row-two .col-md-3,
.teacher-section .row-two .col-sm-3,
.teacher-section .row-two .col-xs-3 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 20px;
}

@media (max-width: 750px) {
    .teacher-section .row-two .col-md-3,
    .teacher-section .row-two .col-sm-3,
    .teacher-section .row-two .col-xs-3 {
        padding-bottom: 4px;
    }
}

.teacher-section .row-three{
    margin-right: 0;
    margin-left: 0;
}
.teacher-section .row-three .col-xs-2dot5,
.teacher-section .row-three .col-sm-2dot5,
.teacher-section .row-three .col-md-2dot5{
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 20px;
}

@media (max-width: 750px) {
    .teacher-section .row-three .col-xs-2dot5,
    .teacher-section .row-three .col-sm-2dot5,
    .teacher-section .row-three .col-md-2dot5{
        padding-bottom: 4px;
    }
}

.teacher-section .row-four{
    margin-right: 5px;
    margin-left: 5px;
}

.teacher-section .row-four .col-xs-2,
.teacher-section .row-four .col-sm-2,
.teacher-section .row-four .col-md-2{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

@media (max-width: 750px) {
    .teacher-section .row-four .col-xs-2,
    .teacher-section .row-four .col-sm-2,
    .teacher-section .row-four .col-md-2{
        padding-bottom: 4px;
    }
}
.teacher-section .avatar-content .info-content {
    position: absolute;
    left: 10px;
    bottom: 0;
    color: white;
}

.teacher-section .info-content .lang-text {
    font-size: 20px;
}

.teacher-section .find-lang-content {
    background: #424242;
    font-size: 22px;
    padding: 12px 0 ;
    margin: 0 10px;
}

.class-section {
    background: #ff7b73;
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.class-section .class-icon-img {
    width: 100%;
}

.market-section {
    background: #424242;
    padding: 0 0 70px;
    padding-top: 70px;
}

.market-section .market-title-content {
    margin-bottom: 40px;
    color: #fff;
}

.market-section .market-content .market-text {
    color: #000;
    background-color: #fff;
    height: 210px;
    padding: 30px;
}

.student-section {
    color: #000;
    background-color: #F1F1F1;
    padding: 70px 0;
}

.student-section .lessons-container,
.student-section .community-container {
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 70px;
    padding-bottom: 50px;
}
.community-container .row-one,
.community-container .row-two{
    margin-bottom: 50px;
}

.user-section {
    padding: 0 0 70px;
    background: url('../img/homepage-bottom.jpg');
    background-size: cover;
    padding: 200px 0;
    margin-bottom: -30px;
}

.user-section .user-content {
    width: 390px;
    float: left;
}


.user-section .user-content .user-title {
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 40px;
}

.user-section .user-content .user-subtitle {
    font-size: 16px;
    margin-bottom: 40px;
}

.footer-section {
    background-color: #1B1B1B;
    text-align: left;
    padding: 40px 0;
    color: #848484;
}

.footer-section .row-one{
    position: relative;
}

.footer-section .footer-title {
    font-weight: bold;
    color: #fff;
}

.footer-section ul {
    list-style: none;
    margin-left: -40px;
}

.footer-section .connect-list li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}
.footer-section .connect-container{
    margin: 20px 0;
}
.footer-section .connect-content .link-list{
    padding-top: 5px;
}
.footer-section .connect-container button.select-country-btn,
.footer-section .connect-container button.select-country-btn:hover,
.footer-section .connect-container button.select-country-btn:active{
    display: inline;
    background:#6F7E82;
    border-radius: 0;
    color:white !important;
}

.footer-section .connect-content .social-list{

}

@media (min-width: 970px) {
    .footer-section .connect-content .social-list{
        position: absolute;
        right: -50px;
        float: right;
        bottom: 180px;
    }
}

/*main page end*/



